* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: #454545;
    color: #222;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    max-width: 1400px;
    margin: 0 auto;
}

.sub_container {
    padding: 15px;

    background-color: #959595;
    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

/* Der Graph soll über die gesamte Breite gehen */
.sub_container[name="graph"] {
    grid-column: 1 / -1;
    min-height: 400px;
}

/* Dataset und Visualisierung etwas hervorheben */
.sub_container[name="dataset"],
.sub_container[name="visual_type"] {
    min-height: 150px;
}

/* Spalten und Filter */
.sub_container[name="columns"],
.sub_container[name="filters"] {
    min-height: 200px;
}




.col_selector_x {
    /*display: flex;*/
    flex-direction: row;
    max-width: 600px;
    /*margin: 0 auto;*/
    column-gap: 15px;
    row-gap: 5px;
}

.col_selector {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    /*margin: 0 auto;*/
    column-gap: 15px;
    row-gap: 5px;
}

.col_item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0;
    column-gap: 15px;
    row-gap: 5px;
    justify-content: flex-start;
}

.selector_dropdown {
    background-color: #c1c1c1;
}

.col_type {
    font-size: x-small;
    color: darkslategray;
    margin-left: 20px;
}

.agg_selector {
    max-width: 150px;
}

.graph_container_left {
    border-color: #007deb;
    border: solid;
}

.graph_container_right {
    border-color: #007deb;
    border: solid;
}

.graph_container_full {
    border-color: #007deb;
    border: solid;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    column-gap: 15px;
    row-gap: 5px;
}