<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Dataset Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Dataset Visualizer
        <br><i><span style="color:#FF0000">g</span><span style="color:#FF4000">r</span><span style="color:#FF8000">a</span><span style="color:#FFBF00">p</span><span style="color:#FFFF00">h</span><span style="color:#BFFF00">i</span><span style="color:#80FF00">c</span> <span style="color:#40FF00">d</span><span style="color:#00FF00">e</span><span style="color:#00FF40">s</span><span style="color:#00FF80">i</span><span style="color:#00FFBF">g</span><span style="color:#00FFFF">n</span> <span style="color:#00BFFF">i</span><span style="color:#007FFF">s</span> <span style="color:#0040FF">m</span><span style="color:#0000FF">y</span> <span style="color:#4000FF">p</span><span style="color:#7F00FF">a</span><span style="color:#BF00FF">s</span><span style="color:#FF00FF">s</span><span style="color:#FF00BF">i</span><span style="color:#FF0080">o</span><span style="color:#FF0040">n</span></i>
    </h1>
    <form method="POST" action="/">
        <div class="main_container">
            <!-- DATASET -->
            
            <div class="sub_container" name="dataset">
                <p>
                    Select the dataset here. <!-- Will need an option to upload files later-->
                </p>
                {% if not dropdown_html %}
                    <p>
                        {{ message_no_datasets }}
                    </p>
                {% else %}
                    <select name="dataset" onchange="this.form.submit()" class="selector_dropdown">
                        {{ dropdown_html | safe }}
                    </select>
                {% endif %}
            </div>

            <!-- VISUALIZATION TYPE -->

            <div class="sub_container" name="visual_type">
                <p>
                    Visualization type:
                </p>
                <select name="visual_type" onchange="this.form.submit()">
                    <option value="">
                        -- Select visualization --
                    </option>

                    <option value="bar" {% if visual_type == "bar" %}selected{% endif %}>
                        Bar chart
                    </option>

                    <option value="line" {% if visual_type == "line" %}selected{% endif %}>
                        Line chart
                    </option>

                    <option value="scatter" {% if visual_type == "scatter" %}selected{% endif %}>
                        Scatter plot
                    </option>

                    <option value="pie" {% if visual_type == "pie" %}selected{% endif %}>
                        Pie chart
                    </option>

                    <option value="boxplot" {% if visual_type == "boxplot" %}selected{% endif %}>
                        Box plot
                    </option>

                    <option value="hist" {% if visual_type == "hist" %}selected{% endif %}>
                        Histogram
                    </option>

                </select>
            </div>

            <!-- COLUMNS -->

            <div class="sub_container" name="columns">
                <p>
                    Select columns:
                </p>
                {{ columns_html | safe }}
            </div>

            <!-- FILTER -->

            <div class="sub_container" name="filters">
                <p>
                    Filters will be added here later.
                </p>
            </div>

            <!-- GRAPH -->

            <div class="sub_container" name="graph">
                <p>
                    Here is the graph.
                </p>
                {% if generated_graph %}
                    {{ generated_graph | safe }}
                {% else %}
                    <p>
                        Select a visualization and at least one column.
                    </p>
                {% endif %}
            </div>
        </div>
    </form>
</body>
</html>